*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    
}
body{
        background:url('background.jpg') ;
        background-repeat: no-repeat;
        background-size: cover;
        height:100vh;
        width:100%;
}
nav{
    background-color:rgb(218, 218, 218);
    display:flex;
    justify-content:space-between;
}
span{
    color:rgb(185, 0, 0);
}
.logo{
    font-size:2rem;
}
.navlist ul{
    display:flex;
    
}
.navlist ul li {
    list-style:none;
    padding:10px;
}
.navlist ul li a{
    text-decoration: none; 
    color:black;
}
.navlist ul li a:hover{
    text-decoration:underline;
}
/* sectionstarts */
section{
    display:flex;
    margin:200px;
    justify-content: space-around;
}
.para{
   
    letter-spacing:7px;
}
h1{
    font-size:3rem;
    color:white;
}
h3{
    color:white;
    font-size:1.9rem;
}
button{
    width:fit-content;
    color:black;
    border-radius: 10px;
    font-size:1.2rem;
    padding-left:20px;
    padding-right:20px;
    margin-top:20px;
}
button:hover{
    color:red;
    background:black;
    border:1px solid white;
    transition: 0.2s ease-in-out;
}
img{
    
    width:200px;
    border:1px solid white;
    border-radius: 10px;
}